<%= form_for [@test, @question, @answer], html: { class: 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :correct %>
    <%= f.check_box :correct %>
  </div>

  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>