<h2>All tests</h2>

<%= link_to 'Create new test', new_test_path, class: 'btn btn-default' %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Questions</th>
    <th>Results</th>
    <th>Actions</th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.name, test_path(test) %></td>
      <td><%= link_to 'Copy link', '#' %></td>
      <td><%= link_to test.questions.count, test_path(test) %></td>
      <td><%= link_to 'num', '#' %></td>
      <td>
        <%= link_to 'Edit', edit_test_path(test) %>
        <%= link_to 'Delete', test_path(test),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
